* {
    box-sizing: border-box;
    background-color: #f4f3f1;
    margin: 0;
}


/*Menu*/


    /*Logo*/
.navbar-brand{
    background-color: #f4f3f1;
}


.container-fluid {
    padding: 0.5em;
}

  
    /*Novedades - Marcas- Outfits */
.nav-link {
    background-color: #f4f3f1;
    color: #3d3d3c;
}


/*Espacio Menu*/
.collapse {
    background-color: #f4f3f1;
    color: #3d3d3c;
}

    /*Apartado Buscar*/
.d-flex{
    color: #f4f3f1;
    background-color: #043361;
}

    /*Buscador*/
.form-control {
    color: #3d3d3c;
    background-color: #f4f3f1;
    border: 2px solid #3d3d3c;
    border-radius: 0%;
}
    /*Botón buscar*/
.btn {
    color: #3d3d3c;
    background-color: #f4f3f1;
    border: 2px solid #3d3d3c;
    border-radius: 0%;
}


/*Banner Carrusel*/

.banner_01 {
   
}

/*Tarjetas*/


.tarjetas_01 {
    margin-top: 3em;
    display: flex;
}

.card_01 {
    position: relative;
    display: inline-block;
    text-align: center;
}

.card_02 {
    position: relative;
    display: inline-block;
    text-align: center;
}

.card_03 {
    position: relative;
    display: inline-block;
    text-align: center;
}

.img_cards {
    width: 100%;
}

.btn_card {
    color: #f4f3f1;
    background-color: rgba(61, 61, 61, .6);
    border-radius: 1em;
    padding: 0.5em;
    font-size: 1.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.about_footer {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

/*About*/
.text_about {
    padding: 1em;
}

/*Títlo_About*/
.text_about h1 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 2em;
}

/*Párrafo _About**/
.text_about > p {
    font-size: 1.4em;
}

/*Banner _About**/
.text_about > img {
    display:block;
    margin:auto;
    width: 100%;
}

/*Footer*/
.footer {
    
    padding: 1em;
}

.copyright {
    text-align: center;
    padding: 1em;
}

.icono_instagram {
    display: flex;
    justify-content: center;
}

.icono_instagram > a  {
   padding: 1.1em;
}

.icono_instagram > h2  {
    padding: 0.5em;
    text-align: center;
 }