* {
    box-sizing: border-box;
    background-color: #f4f3f1;
    margin: 0;
}


/*Menu*/


    /*Logo*/
.navbar-brand{
    background-color: #f4f3f1;
}


.container-fluid {
    padding: 0.5em;
}

  
    /*Novedades - Marcas- Outfits */
.nav-link {
    background-color: #f4f3f1;
    color: #3d3d3c;
}


/*Espacio Menu*/
.collapse {
    background-color: #f4f3f1;
    color: #3d3d3c;
}

    /*Apartado Buscar*/
.d-flex{
    color: #f4f3f1;
    background-color: #043361;
}

    /*Buscador*/
.form-control {
    color: #3d3d3c;
    background-color: #f4f3f1;
    border: 2px solid #3d3d3c;
    border-radius: 0%;
}
    /*Botón buscar*/
.btn {
    color: #3d3d3c;
    background-color: #f4f3f1;
    border: 2px solid #3d3d3c;
    border-radius: 0%;
}


/*Banner Carrusel*/

.banner_01 {
   
}

/*Tarjetas*/


.tarjetas_01 {
    margin-top: 1em;
    display: flex;
}

.card_01 {
    position: relative;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0;
}

.card_02 {
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

.card_03 {
    position: relative;
    display: non;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

.img_cards {
    width: 100%;
}

.btn_card {
    color: #f4f3f1;
    background-color: rgba(61, 61, 61, .6);
    border-radius: 1em;
    padding: 0.5em;
    font-size: 1.4em;
    position: absolute;
    width: 64%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.about_footer {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

/*Títlo_About*/
.text_about > h1 {
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 1em;
    font-size: 4em;
    text-align: center;
}

/*Párrafo _About**/
.text_about > p {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: justify;
}

/*Banner _About**/
.text_about > img {
    display: block;
    width: 100%;
    justify-content: center;
    padding: 0;
   
}

/*Footer*/


.copyright {
    text-align: center;
    padding: 1em;
    font-size: 0.4em;
}

.icono_instagram {
    display: flex;
    justify-content: center;
}

.icono_instagram > a {
   padding: 1.1em;
}

.icono_instagram > h2 {
    padding: 0.5em;
    text-align: center;
 }



 /*RESPONSIVE*/

 /*Responsive TABLET*/
 @media (min-width: 768px) and (max-width: 979px) {

/*No hacen falta cambios*/
    
 }


 /*Responsive MÓVIL*/
@media screen and (min-width: 480px) {

    /*MODIFICAR LAS TARJETAS UNA DEBAJO DE OTRA*/
    .tarjetas_01 {
     
    }
    
}
