* {
    box-sizing: border-box;
    margin: 0;
}


body {
    background-color: #f4f3f1;
}

/*Menu*/

    /*Logo*/
.navbar-brand{
    background-color: #f4f3f1;
}


.container-fluid {
    padding: 0.5em;
}

  
    /*Novedades - Marcas- Outfits */
.nav-link {
    background-color: #f4f3f1;
    color: #3d3d3c;
}


/*Espacio Menu*/
.collapse {
    background-color: #f4f3f1;
    color: #3d3d3c;
}

    /*Apartado Buscar*/
.d-flex{
    color: #f4f3f1;
    background-color: #043361;
}

    /*Buscador*/
.form-control {
    color: #3d3d3c;
    background-color: #f4f3f1;
    border: 2px solid #3d3d3c;
    border-radius: 0%;
}
    /*Botón buscar*/
.btn {
    color: #3d3d3c;
    background-color: #f4f3f1;
    border: 2px solid #3d3d3c;
    border-radius: 0%;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.2em;
    
}

h2 {
    text-align: center;
    font-size: 1.6em;
    padding-top: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

p {
    font-size: 1.2em;
    line-height: 2em;
    text-align: justify;
    margin: 2em;
}


.container {
    background-image: url(/NOVEDADES/img/Banner_Novedades.jpg);
    background-size: cover;
    padding: 2em;
    
}

.text1 {
    background: rgba(244, 243, 241, 1);
    border-radius: 10px;
    color: #3d3d3c;
    text-align: justify;
    padding: 0.2em;
}

.text2{   
    max-width: 100%;
    margin: 50px auto 0 auto;
    padding: 2rem;
    text-align: justify;
  }


  .text2 > h2 {
    margin-bottom: 50px;
    font-size: 4em;
    font-weight: 600;
    text-align: center;
    color: #3d3d3c;
  }
  
h3 {
    font-size: 1.4em;
}

  details { 
    width: 100%;
    margin-bottom: 1rem;   
    border-radius: 8px;  
    border: 10px solid #3d3d3c;
    color: #f4f3f1;
    position: relative;  
  }

  details summary {  
    font-weight: 400;
    font-size: 1.25rem;
    padding: 1rem;
    cursor: pointer;
    list-style: none;
  }

  details p {
    color: #3d3d3c;
    padding: 1em;
    margin: 0 1rem 1rem 1rem;
    background: rgba(244, 243, 241, 1);
    border-radius: 10px;
  }
  
  details:hover,
  details[open] {
    box-shadow: 5px 5px 15px #043361;
  }
  
  
  details[open] summary {
    font-weight: 600;
  }
  
  details summary::before {
    position: absolute;
      content: "▼";    
      font-size: 1.75rem;
      top: 10px;
      right: 16px;  
  }
  
  details[open] summary::before {
    -webkit-animation: rotate 0.6s ease-in-out both;
            animation: rotate-emoji 0.6s ease-in-out both;
  }
  
  @-webkit-keyframes rotate-emoji {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }

 /*RESPONSIVE*/

 /*Responsive TABLET*/
 @media (min-width: 768px) and (max-width: 979px) {


    
 }


 /*Responsive MÓVIL*/
@media screen and (min-width: 480px) {


    
}

