*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

body {
    background-color: #f4f3f1;
}

/*menu*/
.container-fluid {
    background-color: #f4f3f1;
}

    /*logo*/
    .navbar-brand {
        background-color: #f4f3f1;
    }

    .container-fluid {
            padding: 0.5em;
            
    }

    /*novedades - marcas - outfits*/
    .nav-link {
        background-color: #f4f3f1;
        color: #3d3d3c;
    }

    /*espacio menu*/
    .collapse {
        background-color: #f4f3f1;
        color: #3d3d3c;
    }

    /*apartado buscar*/
    .d-flex {
        color: #3d3d3c;
        background-color: #f4f4f4;
    }

    /*buscador*/
    .form-control {
        color: #3d3d3c;
        background-color: #f4f3f1;
        border: 2px solid #3d3d3c;
        border-radius: 2em;
    }

    /*boton buscar*/
    .btn {
        color: #3d3d3c;
        background-color: #f4f3f1;
        border: 2px solid #3d3d3c;
        border-radius: 1em;
    }

/*banner carrusel*/



/*contenedor tarjetas*/
.tarjetas {
    margin-top: 1em;
    display: flex;
    font-size: 1em;
}

    /*tarjeta 1*/
    .card_01 {
        position: relative;
        text-align: center;
    }

    /*tarjeta 2*/
    .card_02 {
        position: relative;
        text-align: center;
    }

    /*tarjeta 3*/
    .card_03 {
        position: relative;
        text-align: center;
    }

    /*imagen tarjetas*/
    .img_cards{
         width: 100%;
    }

    /*link tarjetas (boton)*/
     .btn_card {
        color: #f4f3f1;
        background-color: rgba(61, 61, 61, 0.6);
        border-radius: 1em;
        padding: 0.5em;
        font-size: 1.4em;
        position: absolute;
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
           
    }

/*about and footer*/
.about_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

    /*titulo about*/
    .text_about > h1 {
        color: #3d3d3c;
        font-size: 3.4em;
        text-align: center;
        margin-left: 2em;
        margin-right: 2em;
        padding-top: 0.8em;
    }

    /*parrafo about*/
    .text_about > p {
        margin-left: 2em;
        margin-right: 2em;
        font-size: 1.2em;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: justify;
    }

    /*parrafo about texto negrita*/ 
    .text_about > p > strong {
        color: #043361;
        font-style: italic;
    }

    /*banner about*/
    .text_about > img {
        display: block;
        width: 100%;
        justify-content: center;
    }
    
    /*footer*/
    .copyright {
        text-align: center;
       padding-bottom: 3em;
        font-size: 0.4em;
    }

    .icono_instagram {
        display: flex;
        justify-content: center;
        padding: 2em;
    }

    .icono_instagram > a {
      padding-right: 0.5em;
    }

    .icono_instagram > a > img {
        width: 40px;
        height: 40px;
    }

    .icono_instagram > a > h2 {
        text-align: center;
        color: #3d3d3c;
    }






/*pag novedades*/

/*Titulos*/
.noticia > h1 {
    color: #3d3d3c;
    font-size: 3.4em;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 0.8em;
}


.noticia > h2 {
    color: #3d3d3c;
    font-size: 2.4em;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 1em;
}

/*Contenedor*/
.container {
    background-image: url(/HOME/img/Banner_Novedades.jpg);
    background-size: cover;
    padding: 2em;
}

/*parrafos*/
.text1 {
    font-size: 1em;
    color: #3d3d3c;
    text-align: justify;
    background: rgba(244, 243, 241, .8);
    border-radius: 10px;
    padding: 1em;
    
}

.text2 {
    font-size: 1em;
    color: #3d3d3c;
    text-align: justify;
    border-radius: 10px;
    max-width: 100%;
    padding: 1em;
    margin: 0 auto 0 auto;
}

/*titulo boton*/
 h3 {
    font-size: 2em;
    color: #f4f3f1;
    font-weight: 600;
    text-align: center;
    background: #3d3d3c;
    border-radius: 8px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/*contenedor oculto*/
.details {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 10px solid #3d3d3c;
    color: #f4f3f1;
    position: relative;
}

.details summary {  
    font-weight: 400;
    font-size: 1.25rem;
    padding: 1rem;
    cursor: pointer;
    list-style: none;
  }

  /*recuadro texto oculto*/
  details p {
    color: #3d3d3c;
    padding: 1em;
    margin: 0 1rem 1rem 1rem;
    background: rgba(244, 243, 241, 0.8);
    border-radius: 10px;
  }
  
  /*Sombra contenedor abierto*/
  details:hover,
  details[open] {
    box-shadow: 5px 5px 2px #f4f3f1;
    border-radius: 8px;
  }
  
  
  details[open] summary {
    font-weight: 600;
  }
  
  
  details[open] summary::before {
    -webkit-animation: rotate 0.6s ease-in-out both;
            animation: rotate-emoji 0.6s ease-in-out both;
  }
  
  @-webkit-keyframes rotate-emoji {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }

        

 /*pag outfits*/


.outfit > h1 {
    color: #3d3d3c;
    font-size: 2.4em;
    text-align: center;
    padding: 1em;
}

.container_outfits {
    display: flex;
}

.look {
    margin:4em;
}

.look img {
    width: 60%;
    border-radius: 26px;
    display: block;
    margin: auto;
}

.img_zapas {
    width: 50%;
    padding: 1em;
    margin: auto;
}

.producto {
    font-size: calc(1rem + 0.1vw);
  }





/*RESPONSIVE*/

/*tablet*/
@media (max-width: 768px) { 

    /*link tarjetas (boton)*/
    .btn_card {
        font-size: 1.2em;
        width: 80%;
    }

/*pag novedades*/

    /*Titulos*/
    .noticia > h1 {
        font-size: 3em;
        padding-top: 0.5em;
    }


    .noticia > h2 {
        font-size: 2em;
        padding-bottom: 0.5em;
    }

/*pag outfits*/
    .container_outfits {
        flex-direction: column;
    }
 
    .look {
        margin:0;
    }
 
    .look img {
        width: 50%;
    }
 
    .opciones {
        padding: 1em;
    }

    .img_zapas {
        width: 100%;
    }
 
    .opciones {
     margin: auto;
    }
    
}




/*movil*/


@media (max-width: 500px) {

    /*contenedor tarjetas*/
    .tarjetas {
        margin-top: 0;
        padding: 0;
        flex-direction: column;
        font-size: 1em;
    }

    /*tarjeta 1*/
    .card_01 {
        padding-top: 1em;
    }

    /*link tarjetas (boton)*/
     .btn_card {
        font-size: 1.2em;
        width: 60%;
    }


    /*titulo about*/
    .text_about > h1 {
        padding-top: 1em;
        font-size: 2em;
    }

    /*parrafo about*/
    .text_about > p {
        font-size: 1.2em;
    }

    /*footer*/
    .copyright > h4 {
        font-size: 3em;
    }

    .icono_instagram > a > img {
        width: 30px;
        height: 30px;
    }

    .icono_instagram > a > h2 {
        font-size: 1.2em;
    }

/*pag novedades*/

    /*Titulos*/
    .noticia > h1 {
        font-size: 3em;
        margin: auto;
    }


    .noticia > h2 {
    font-size: 1.8em;
     margin: auto;
    }

    /*pag outfits*/

    .look img {
        width: 80%;
    }
 }