* {
    box-sizing: border-box;
    margin: 0;
}


body {
    background-color: #f4f3f1;
}

/*Menu*/

    /*Logo*/
.navbar-brand{
    background-color: #f4f3f1;
}


.container-fluid {
    padding: 0.5em;
}

  
    /*Novedades - Marcas- Outfits */
.nav-link {
    background-color: #f4f3f1;
    color: #3d3d3c;
}


/*Espacio Menu*/
.collapse {
    background-color: #f4f3f1;
    color: #3d3d3c;
}

    /*Apartado Buscar*/
.d-flex{
    color: #f4f3f1;
    background-color: #043361;
}

    /*Buscador*/
.form-control {
    color: #3d3d3c;
    background-color: #f4f3f1;
    border: 2px solid #3d3d3c;
    border-radius: 0%;
}
    /*Botón buscar*/
.btn {
    color: #3d3d3c;
    background-color: #f4f3f1;
    border: 2px solid #3d3d3c;
    border-radius: 0%;
}

h1 {
  text-align: center;
  padding: 1em;
  font-size: 2em;
}

.container {
  display: flex;
  padding: 2em;
}

.outfit > img {
  width: 60%;
}

p {
  text-align: center;
  font-size: 1.2em;
  color: #3d3d3c;
}

.img_zapas {
  width: 120%;
  padding: 1em;
}

 /*RESPONSIVE*/

 /*Responsive TABLET*/
 @media (min-width: 768px) and (max-width: 979px) {


    
 }


 /*Responsive MÓVIL*/
@media screen and (min-width: 480px) {

/*Poner todo en fila
.container {
  display: flex;
  flex-direction: column;
} 


*/

}

